name: Python Test Build

on: ["pull_request", "push"]

jobs:
  snyk-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: pip install
        working-directory: src/code/
        run: pip install -r requirements.txt && pwd

      - name: Run Snyk to check for vulns
        uses: snyk/actions/python-3.7@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
  